.gear{
    position: fixed;
    top:10px;
    left:10px;
}
.online{
    color: green;
}
.pill{
    position: fixed;
    top:10px;
    right:10px;
}
.main-content{
    text-align: center;
    margin-top: 150px;
}
.searchbox{
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
}
.icon{
    position: relative;
    left: 30px;
}
h1{
    font-size: 65px;
    margin-bottom: 0px;
}
#search-suggestions{
    width: 300px;
    margin: 10px auto;
    text-align: left;
}
#search-suggestions div{
    background:white;
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:0px;
    cursor:pointer;
    
}
#search-suggestions div:hover{
    background:#f5f5f5;
    border-color:#848080;
}