h1{
    color:red;
}
#heading-2{
    color:blue;
}
.heading{
    color:green
}
.para{
    color:orange;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}
.navbar{
    border:3px solid black;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.navbar a{
    color: rgb(167, 159, 11);
    padding: 15px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(85, 83, 9);
    color: white;
}
body{
    margin: 0;
}
.card{
    border: 2px solid rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    margin: 30px auto;
}
.card img{
    width: 100%;
}

.card button{
    background-color: rgb(147, 141, 141);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
}